
  <div class="header" style="text-align:center">
  <h1>Electric Guitars Shop</h1>
  <img class="guitar-logo" src='./assets/guitar-logo.png' />
  <div><p>Sed feugiat eros at magna laoreet, ac ultrices mauris mattis.
     Suspendisse nec pharetra ligula. Praesent suscipit magna id lacinia
      venenatis. Etiam feugiat gravida semper. Proin ac risus eu diam sagittis
      auctor. Phasellus elementum purus malesuada lectus lacinia euismod.
      Praesent sit amet purus efficitur sapien egestas vulputate.
      </p></div>
  </div>
