$box-width: 18vw;
$b: 7vw;
$black-color: #001011;
$green-color: #093A3E;
$grey-color: #7C7C7C;
$blue-color: #25c3da;
$dark-blue: #514a9d;
$light-blue: #26FFE6;
$pink-color: #D84797;
$white-color: #D2FDFF;

main {
  box-sizing: border-box;
  margin-top: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .main {
    box-sizing: border-box;
    width: 20%;
  }
}

.photo-box {

  width: $box-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 70%;
    cursor: pointer;
    margin: 3px 0;
    border: 1px solid;
    border-color: $grey-color;
  }
}

.fa {
  cursor: pointer;
  font-size: 1.8rem;
  color: #230025;
}

.arrow {
  display: flex;
  justify-content: center;
  width: $box-width;
  margin: 10px 0;
}

.main-pic-cont {
  width: 80%;
  position: relative;
  cursor: pointer;
  img {
    width: 100%;
  }
  div {
    background-color: $grey-color;
    padding: 5px;
    position: absolute;
    z-index: 5;
    right: 5px;
    bottom: 10px;
    i {
      color: white;
    }
  }
}

.selected {
  
}
