
$black-color: #001011;
$green-color: #093A3E;
$grey-color: #7C7C7C;
$blue-color: #25c3da;
$dark-blue: #514a9d;
$light-blue: #26F0F1;
$pink-color: #D84797;
$white-color: #D2FDFF;
$price: #7DCD85;


/****** SLIDE SHOW PAGE *****/
main {
  box-sizing: border-box;
  margin-top: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .main {
    width: 13vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .photo-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        min-width: 70px;
          width: 60%;
        cursor: pointer;
        margin: 3px 0;
        border: 1px solid;
        border-color: #e0eafc;
        filter: contrast(80%);
      }
    }
  }
  .main-pic-cont {
    margin: 15px;
    position: relative;
    cursor: pointer;
    img {
      width: 30vw;
      min-width: 250px;
    }
    div {
      background-color: $grey-color;
      padding: 5px;
      position: absolute;
      z-index: 5;
      right: 5px;
      bottom: 10px;
      i {
        color: white;
      }
    }
  }

}

.selected {
filter: grayscale(0%) !important;
}

.fa {
  cursor: pointer;
  font-size: 1.6rem;
  color: #230025;
}

.arrow {
  display: flex;
  justify-content: center;

  margin: 10px 0;
}

/****** SLIDE SHOW PAGE ENDS *****/


/***PRODUCT ORDERING PAGE***/

.product {
  display: none;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  position:fixed;
  width: 100vw;
  height: 100vh;
  z-index: 7;
  background: #e0eafc;
  background: -webkit-linear-gradient(to right, #e0eafc, #cfdef3);
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }
  img {
    width: 35vw;
    min-width: 300px;
  }
  button {
    background-color: $price;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 10px 15px;
    cursor: pointer;
  }
}

.product-display {
  display: flex;
}

.price {
  color: $price;
}

/***PRODUCT ORDERING PAGE ENDS***/
