
<main>
<div class="main">
<div class="arrow" ><i class="fa fa-arrow-up" id='down' (click)="arrowPush($event)"  aria-hidden="true"></i></div>
<div   class="photo-box" ><img
  *ngFor="let ph of currentPhotos" src={{ph.small}} [ngClass]="{'selected': ph.id === selectedPhoto }"
  (click)="selected(ph.id)"
  /></div>
<div class="arrow" ><i  class="fa fa-arrow-down" id='up' (click)="arrowPush($event)" aria-hidden="true"></i></div>
</div>
<div *ngFor="let ph of photos">
  <div (click)="selectedProduct(ph)"
   class="main-pic-cont"
      *ngIf="ph.id===selectedPhoto">
    <img src={{ph.small}} />
    <div><i class="fa fa-search" aria-hidden="true"></i></div>
  </div>
</div>
<div *ngIf="product">
<div class="product" [ngClass]="{'product-display': toggleProduct == true }">
  <div class="close" (click)="selectedProduct(product)">X</div>
  <h4>{{product.name}} <span class="price"> {{product.price + "$"}}</span></h4>
  <img src={{product.big}}/>
  <button (click)="addToCart(product)">Add to Cart</button>
</div>
</div>
</main>
