
$black-color: #001011;
$green-color: #093A3E;
$grey-color: #7C7C7C;
$blue-color: #25c3da;
$dark-blue: #514a9d;
$light-blue: #26FFE6;
$pink-color: #D84797;
$white-color: #D2FDFF;

main {
  box-sizing: border-box;
  margin-top: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .main {
    width: 10vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .photo-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        min-width: 50px;
          width: 60%;
        cursor: pointer;
        margin: 3px 0;
        border: 1px solid;
        border-color: $grey-color;
        filter: contrast(80%);
      }
    }
  }
  .main-pic-cont {
    margin: 15px;
    position: relative;
    cursor: pointer;
    img {
      width: 25vw;
      min-width: 200px;
    }
    div {
      background-color: $grey-color;
      padding: 5px;
      position: absolute;
      z-index: 5;
      right: 5px;
      bottom: 10px;
      i {
        color: white;
      }
    }
  }

}



.selected {
filter: grayscale(0%) !important;
}

.fa {
  cursor: pointer;
  font-size: 1.6rem;
  color: #230025;
}

.arrow {
  display: flex;
  justify-content: center;

  margin: 10px 0;
}

.div-pic {

}
