/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato');

body,html {
width: 100vw;
box-sizing: border-box;
margin: 0;
padding: 0;
border: none;
font-family: 'Lato', sans-serif;
background: #e0eafc;
background: -webkit-linear-gradient(to right, #e0eafc, #cfdef3);
background: linear-gradient(to right, #e0eafc, #cfdef3);
}
